
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
            <h3 class="text-dark"><a href="index.html">Nakiete Pharmacy</a></h3>
            <a href="index.html"> <img src="images/pharmacy1.jpg" alt="Image"></a>
            
            <ul class="list-unstyled">
              <li class="address">Mtendeni street, Dodoma, Tanzania</li>
              <li class="phone"><a href="tel://23923929210">+255 67272 0606</a></li>
              <li class="email"><a href="#">NakietePharmacy@support.com</a></li>
            </ul>
            <a href="index.html" class="btn btn-dark btn-sm mb-2 px-4 py-3">Shop from us</a>
            
          </div>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            
            <h3 class="text-dark"><a href="general/pharmacy">life line Pharmacy</a></h3>
            <a href="/general/pharmacy"> <img src="images/pharmacy6.jpeg" alt="Image"></a>
            <ul class="list-unstyled">
              <li class="address">Saba saba, Dodoma, Tanzania</li>
              <li class="phone"><a href="tel://23923929210">+255 67272 0606</a></li>
              <li class="email"><a href="#">LifeLinePharmacy@support.com</a></li>
              
            </ul>
            

            <a href="/general/pharmacy" class="btn btn-dark btn-sm mb-2 px-4 py-3">Shop from us</a>
            
          </div>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <h3 class="text-dark"><a href="index.html">International Pharmacy</a></h3>
            <a href="index.html"> <img src="images/pharmacy1.jpg" alt="Image"></a>
            <ul class="list-unstyled">
              <li class="address">Majengo street, Dodoma, Tanzania</li>
              <li class="phone"><a href="tel://23923929210">+255 67272 0606</a></li>
              <li class="email"><a href="#">InternationalPharmacy@support.com</a></li>
            </ul>
            
            <a href="index.html" class="btn btn-dark btn-sm mb-2 px-4 py-3">Shop from us</a>
           
          </div>