    {{> site_navbar}}
    {{> home_display}}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Popular Pharmacies</h2>
          </div>
        </div>
        <div class="row">
         {{> popular }}

        </div>
         

        
          
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <a href="index.html" class="btn btn-dark px-4 py-3">All Pharmacies</a>
                </div>
            </div>
    
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Testimonials</h2>
          </div>
        </div>
         {{> testimonials }}
      </div>
    </div>
 

    

    {{> banner_home}}
    